<section class="header">
  <div class="logo">
    <a href="home"><p>razfilms</p></a>
  </div>
  <div class="header-right">
    <nav>
      <ul>
        <a href="home"><li>Home</li></a>
        <a href="films"><li>Films</li></a>
        <a href="about"><li>About</li></a>
        <a href="contact"><li>Contact</li></a>
      </ul>
    </nav>
    <app-social-media></app-social-media>
    <div class="hamburger-icon">
        <i class="fa fa-bars" aria-hidden="true" ng-click="wow"></i>
    </div>
  </div>
</section>

