.header {
    position: fixed;
    top: 0;
    margin: 0;
    width: 100%;
    height: 100px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo{
        p {
            padding-left: 2rem;
            font-size: 2rem;
            color: white;
        }
    }
    .header-right {
         display: flex;
         align-items: center;
        nav {
            
            color: slategray;
            ul {
                margin: 0;
                display: flex;
    
                flex-direction: row;
                    li {
                    padding: 1rem;
                    list-style-type: none;

                    &:hover {
                        color: white;
                    }
                }
                
            }
        }
    }   
}

a {
    color: slategray;
    text-decoration-line: none;
}