.header {
    position: fixed;
    top: 0;
    margin: 0;
    width: 100%;
    height: 100px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 1px 3px 25px #888888;
    .logo{
        p {
            padding-left: 2rem;
            font-size: 2rem;
            color: white;
        }
    }
    @media (max-width: 792px){
        .header-right {
            visibility: hidden;
        }
        .hamburger-icon {
            visibility: visible;
        }
    }

    @media (min-width: 793px){
        .hamburger-icon {
            visibility: hidden;
        }
    }
    .header-right {
         display: flex;
         align-items: center;
         padding-right: 2rem;
        nav {
            
            color: slategray;
            ul {
                margin: 0;
                display: flex;
    
                flex-direction: row;
                    li {
                    padding: 1rem;
                    list-style-type: none;

                    &:hover {
                        color: white;
                    }
                }
                
            }
        }
    }
    .hamburger-icon {
        position: fixed;
        right: 0;
        font-size: 2rem;
    }   
}

a {
    color: slategray;
    text-decoration-line: none;
}