footer {
    background-color: black;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    p {
        text-transform: uppercase;
        letter-spacing: 0.1rem;
        text-align: center;
        color: slategray;
    }
}