.about {
    @media screen and (max-width: 792px){
        padding: 0;
        
    }
    padding: 3rem;
    display: flex;
    .about-stub {
        padding: 5rem;
        p {
            font-size: 2rem;
            @media screen and (max-width: 792px){
                font-size: 1.1rem;
                
            }
        }
    }
}
