<h1>About us</h1>
<section class="about">
  <article class="about-stub">
    <h3>Services</h3>
    <p>Photography and videography at events...</p>
    <ul>
      <li>Photography and videography at events...</li>
    </ul>
  </article>
  <article class="about-stub">
    <h3>Services</h3>
    <p>Photography and videography at events...</p>
    <ul>
      <li>Photography and videography at events...</li>
    </ul>
  </article>
  <article class="about-stub">
    <h3>Services</h3>
    <p>Photography and videography at events...</p>
    <ul>
      <li>Photography and videography at events...</li>
    </ul>
  </article>
</section>
