<h1>About us</h1>
<section class="about">
  <article class="about-stub">
    <!-- <h3>Services</h3>
    <p>Photography and videography at events...</p>
    <ul>
      <li>Photography and videography at events...</li>
    </ul>
  </article>
  <article class="about-stub">
    <h3>Services</h3>
    <p>Photography and videography at events...</p>
    <ul>
      <li>Photography and videography at events...</li>
    </ul>
  </article>
  <article class="about-stub">
    <h3>Services</h3>
    <p>Photography and videography at events...</p>
    <ul>
      <li>Photography and videography at events...</li>
    </ul> -->
    <p>RAZ Films is a Illinois-based film production company formed in 2010 by Bob Zimmerman to make independent films. 
        RAZ Films has produced films that include Out of Nowhere, a documentary film about the Champaign-Urbana music scene. 
        It features rare performance video and interviews with REO Speedwagon, Head East's John Schlitt Adrian Belew and 
        many others. This was the feature film at the 2012 Ellnora Guitar Festival held at the Krannert Center for the
        Performing Arts.</p>
  </article>
</section>
