.contact {
    margin: 0;
    padding: 12rem 0 20rem 0;
    background-color: whitesmoke;
    @media screen and (max-width: 792px){
        padding: 20rem 1rem;
        margin: 0;
    }

    p {
        padding: 2rem;
    }
}