<section class="contact">
  <!-- <form id="contact-form" method="POST" action="send-email  ">
    <label>
      Name:<span class="required">*</span>
      <input class="form-input" name="name" type="text" required/>
    </label>
    <label>
      Email:<span class="required">*</span>
      <input class="form-input" name="email" type="email" required/>
    </label>
    <label>
      Phone:
      <input class="form-input" name="phone" type="text" />
    </label>
    <label>
      Message:<span class="required">*</span>
      <textarea name="message" required></textarea>
    </label>
    <div class="submit-container">
      <input class="submit-btn" name="Submit" type="submit"/>
    </div>
  </form> -->
  <p>Please feel free to reach out to us with questions and comments! <a href="mailto:razfilms@live.com?Subject=Razfilms%20Website%20Contact" target="_top">Send us an email.</a></p>
</section>
