.contact {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 4rem;
    background-color: whitesmoke;
    @media screen and (max-width: 792px){
        padding: 2rem 0;
        margin: 0;
        
    }
    .form-input {
      display: block;
      width: 70%;
      margin-left: 2rem;
      height: 34px;
      padding: 6px 12px;
      font-size: 14px;
      line-height: 1.42857143;
      color: #555;
      background-color: #fff;
      background-image: none;
      border: 1px solid #ccc;
      border-radius: 4px;
      -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
      box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
      -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
      -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
      transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    }
    textarea {
        width: 70%;
        height: 4rem;
        display: inline-block;
        padding: 6px 12px;
        margin-bottom: 0;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.42857143;
        white-space: nowrap;
        vertical-align: middle;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        cursor: text;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
    #contact-form {
        margin-top: 5rem;
        width: 50%;
        display: flex;
        flex-direction: column;
        @media screen and (max-width: 792px){
            width: 100%;  
        }

        label {
            display: flex;
            justify-content: space-between;
            padding: 2rem;
            font-weight: 700;
            .required {
                color: red;
            }
        }
        .submit-container {
            display: flex;
            justify-content: flex-end;
            padding-right: 2rem;
            
            }
            .submit-btn {
                width: 30%;
                display: inline-block;
                padding: 6px 12px;
                margin-bottom: 0;
                font-size: 14px;
                font-weight: 400;
                line-height: 1.42857143;
                text-align: center;
                white-space: nowrap;
                vertical-align: middle;
                -ms-touch-action: manipulation;
                touch-action: manipulation;
                cursor: pointer;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
                background-image: none;
                border: 1px solid black;
                border-radius: 4px;
                @media screen and (max-width: 792px){
                        width: 80%;
            }
        }
    }
}