<section class="contact">
  <form id="contact-form" method="POST" action="send-email  ">
    <label>
      Name:
      <input class="form-input" name="name" type="text" />
    </label>
    <label>
      Phone:
      <input class="form-input" name="phone" type="text" />
    </label>
    <label>
      Email:
      <input class="form-input" name="email" type="email" />
    </label>
    <label>
      Message:
      <textarea name="message"></textarea>
    </label>
    <div class="submit-container">
      <input class="submit-btn" name="Submit" type="submit"/>
    </div>
  </form>
</section>
