<section class="films">
  <section class="feature-film">
    <aside>
      <section class="movie-poster">
          <a href="https://www.amazon.com/Out-Nowhere-Champaign-Music-Documentary/dp/B009416ACI/" target="_blank"><img src="../../assets/images/out-of-nowhere-dvd-cover.jpg"/></a>
      </section>
      <section class="purchase-links">
        <ul>
          <li><a href="https://www.amazon.com/Out-Nowhere-Champaign-Music-Documentary/dp/B009416ACI/" target="_blank"><i class="fa fa-amazon"></i></a></li>
          <li><a href="https://www.amazon.com/Out-Nowhere-Champaign-Music-Documentary/dp/B009416ACI/" target="_blank">Buy Now on Amazon</a></li>
          <li><a href="https://www.parasol.com/products/out-of-nowhere-champaign-music-scene-documentary?_pos=1&_sid=95cd3180e&_ss=r" target="_blank"><img src="https://cdn.shopify.com/s/files/1/0088/2959/9806/files/parasol_logo_red_180x.jpg?v=1555950875"/></a></li>
          <li><a href="https://www.parasol.com/products/out-of-nowhere-champaign-music-scene-documentary?_pos=1&_sid=95cd3180e&_ss=r" target="_blank">Now at Parasol Records</a></li>
        </ul>
      </section>
    </aside>
    <main>
      <h1>Out of Nowhere: Champaign Music Scene Documentary</h1>
      <article>
        <p>A documentary film about the Champaign-Urbana, Illinois music scene, from the sixties through the oughts. 
          Features exclusive, on-camera interviews with REO Speedwagon, Head East's John Schlitt, Adrian Belew 
          (with a great Robert Fripp story), Slink Rand, Mark Rubel, Elsinore's Ryan Groff, Cody Sokolski, 
          Finchley Boys' George Faber and Garrett Oostdyk, Seth Fein, Keith Harden, Terry Hawkins, Champaign Mayor 
          Don Gerard, Larry Fredrickson, Phil Strang, Roger Francisco, Michael Husler, Ralph Senn, The Rave's Brian 
          Cook, Bob Simpson, Larry Wigand, Jay Rosenstein, Mark Lundquist, Rocky Maffit and more. Includes exclusive
          and rare performance video."</p>
      </article>
      <section class="trailer">
          <iframe src="https://www.youtube.com/embed/VqmOQcq0WcI?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>      </section> 
    </main>
  </section>
  <section class="feature-film">
      <aside>
        <section class="movie-poster">
            <a href="https://www.amazon.com/Rise-Valiant-Bob-Zimmerman/dp/B00PWJ3UT2/ref=sr_1_1?ie=UTF8&qid=1534099632&sr=8-1&keywords=rise+of+the+valiant+Bob+Zimmerman" target="_blank"><img src="../../assets/images/rise-of-the-valiant.png"/></a>
        </section>
        <section class="purchase-links">
          <ul>
            <li><a href="https://www.amazon.com/Rise-Valiant-Bob-Zimmerman/dp/B00PWJ3UT2/ref=sr_1_1?ie=UTF8&qid=1534099632&sr=8-1&keywords=rise+of+the+valiant+Bob+Zimmerman" target="_blank"><i class="fa fa-amazon"></i></a></li>
            <li><a href="https://www.amazon.com/Rise-Valiant-Bob-Zimmerman/dp/B00PWJ3UT2/ref=sr_1_1?ie=UTF8&qid=1534099632&sr=8-1&keywords=rise+of+the+valiant+Bob+Zimmerman" target="_blank">Buy Now on Amazon</a></li>
          </ul>
        </section>
      </aside>
      <main>
        <h1>Rise of the Valiant</h1>
        <article>
          <p>Rise of the Valiant is a documentary film about the World War II battle at Okinawa which was the last and 
          bloodiest battle of that war. The film includes interviews from veterans of the 
          Sixth Marine Division who relive their frontline experiences. Also interviewed is military 
          historian and author Bill Sloan. The film is filled with pictures and footage from that battle.  
          Rise of the Valiant won the 2015 Marine Corps Heritage Foundation Norman Hatch Award for best documentary films."</p>
        </article>
        <section class="trailer">
            <iframe src="https://www.youtube.com/embed/QMSlmOE0ONk?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </section> 
        
      </main>
  </section>
</section>
