.home {
    background-image: url('../../assets/images/DSC_1377.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 50rem;
    h1 {
        font-size: 2rem; 
        text-transform: uppercase;
        letter-spacing: 2px;
        padding-top: 15rem;
        color: white;
        text-align: center
    }

    .video {
        visibility: hidden;
        // width: 50%;
        // margin: auto;
        padding: 2rem;
    }
}