<section class="home">
    <h1>Winner of the 2015 Norman Hatch Award</h1>
    <section class="video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/QMSlmOE0ONk?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </section>
    <section class="video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/QMSlmOE0ONk?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </section> 
</section>